body{
  background-color: #000000;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

button {
  margin: 5px;
}

button:hover {
  background-color: #ffffff;
  font-style: italic;
}
